.carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    background-color: #222;
}
.imagenes {
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: white;
    width: 300px;
    height: 300px;
}