.carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.imagenes {
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,.5)
}